<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geomarket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.geomarket.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.geomarket.Fragment_home"
            android:label="@string/title_activity_fragment_home" >
        </activity>
        <activity
            android:name="com.example.geomarket.Fragment_profile"
            android:label="@string/title_activity_fragment_profile" >
        </activity>
        <activity
            android:name="com.example.geomarket.Fragment_offer"
            android:label="@string/title_activity_fragment_offer" >
        </activity>
        <activity
            android:name="com.example.geomarket.Fragment_map"
            android:label="@string/title_activity_fragment_map" >
        </activity>
    </application>

</manifest>
